body {
    background-color: black;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid red;
    margin-bottom: 20px;
}
