* {                         /* universal reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 2fr 5fr 3fr / 3fr 1fr;
  font-family: sans-serif;
}

h3 {
  padding: 2rem 1rem 5rem;
}

header {
  grid-column: 1 / 3;
  background-color: #333;
  color: white;
}

nav {
  background-color: #000;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1rem 1rem;
  display: block;
}

nav a:hover {
  background-color: #333;
}

main {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #999;
  padding: 20px;
}

aside {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  padding: 20px;
}

footer {
  grid-area: 3 / 1 / 4 / 3;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
