@media (min-width: 600px) {
  header { padding: 3rem 1rem; }
  h1 { font-size: 3.8rem; }
  .hero { height: 70vh; }
  .hero-overlay h2 { font-size: 4rem; }
  h2 { font-size: 2.2rem; }

  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 2rem 3rem;
  }
  .grid img { height: 260px; }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    max-width:max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem 4rem;
  }
  .grid img { height: 280px; }
}
